.web3d-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.tp-image {
    max-width: 70%;
    /* L'image ne dépassera pas la largeur de son conteneur */
    height: 60%;
    /* Conserve les proportions de l'image */
    margin: 20px 0;
    /* Ajoute un peu d'espace au-dessus et en dessous de l'image */
}

.file-download {
    margin-top: 20px;
}

.download-link {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.download-link:hover {
    background-color: #0056b3;
}